xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="recipes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="food" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="weight"/>
              <xs:element type="xs:string" name="ingredient1"/>
              <xs:element type="xs:byte" name="amount1"/>
              <xs:element type="xs:string" name="ingredient2"/>
              <xs:element type="xs:short" name="amount2"/>
              <xs:element type="xs:string" name="ingredient3"/>
              <xs:element type="xs:byte" name="amount3"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="calories"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>